

#main-bg{
    /* background-image: ; */
    /* overflow: hidden; */
    background: linear-gradient(180deg, #E5DCBC -23.15%, rgba(229, 220, 188, 0.30) 100%),url("../app/assets/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: cover; */
    
}
/* #nack{
    margin-left: 22%;
} */
@media (min-width:500px){
    #nack{
        margin-left: 31%;
    }
}
@media (min-width:640px){
    #nack{
        margin-left: 31%;
    }
}
@media (min-width:768px){
    #nack{
        margin-left: 27%;
    }
}
@media (min-width:950px){
    #nack{
        margin-left: 26%;
    }
}
/* @media (min-width:950px) and (max-width:1024px){
    #sec-3{
        margin-top: 75px;
    }
} */
@media (min-width:1024px){
    #nack{
        margin-left: 25%;
    }
} 
@media (min-width:1280px){
    #nack{
        margin-left: 20%;
    }
} 
@media (min-width:1536px){
    #nack{
        margin-left: 18%;
    }
}
#sec-2-r{
    background-image: url('./assets/iamge13.png');
    background-color: #E5DCBC;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#sec-3-l{
    
}
/* #img11{
    background-image: url('./assets/imgae11.png');
    background-size: cover;
    width: 100%;
    height:400px;
} */
#img22{
    background-image: url('./assets/image19.png');
    background-size: cover; 
    /* height: 400px; */

}
#img23{
    background-image: url('./assets/iamge20.png');
    background-size: cover; 
    /* height: 400px; */

}
#img24{
    background-image: url('./assets/image21.png');
    background-size: cover; 
    /* height: 400px; */

}
#img25{
    background-image: url('./assets/image22.png');
    background-size: cover; 
    /* height: 400px; */

}

#www{
    font-family: 'Caveat';
}
#main{
    font-family: 'Roboto';
    
}



/* toggle */

.spinner {
    width: 200px;
    height: 200px;
    display: grid;
    border: 9.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
    /* display: flex; */
    /* justify-content: center; */
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }
  
  .spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  
  .spinner::after {
    margin: 8.9px;
  }
  
  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }