#main-bg{
    /* background-image: ; */
    /* overflow: hidden; */
    background: linear-gradient(180deg, #E5DCBC -23.15%, rgba(229, 220, 188, 0.30) 100%),url("../app/assets/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
  
}
#nack{
    margin-left: 22%;
}
#sec-2-r{
    background-image: url('./assets/iamge13.png');
    background-color: #E5DCBC;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#sec-3-l{
    
}
/* #img11{
    background-image: url('./assets/imgae11.png');
    background-size: cover;
    width: 100%;
    height:400px;
} */
#img22{
    background-image: url('./assets/image19.png');
    background-size: cover; 
    height: 400px;
}
#img23{
    background-image: url('./assets/iamge20.png');
    background-size: cover; 
    height: 400px;
}
#img24{
    background-image: url('./assets/image21.png');
    background-size: cover; 
    height: 400px;
}
#img25{
    background-image: url('./assets/image22.png');
    background-size: cover; 
    height: 400px;
}

#www{
    font-family: 'Caveat';
}
#main{
    font-family: 'Roboto';
    
}
